/* Authored Dependencies */
@import 'global/includes/colors';
@import 'global/includes/fonts';
@import 'global/includes/buttons';
@import 'global/includes/spacing';
@import 'global/includes/mixins';
@import 'global/includes/grid';
@import 'mobile/mobile';

/* Sections */
// header
@import 'global/header/header';
@import 'global/header/logo';
@import 'global/header/nav';
// main
@import 'global/main/main';
// footer
@import 'global/footer/footer';

/* Shame */
@import 'global/shame';

/* Global */
html {
    background-color: transparent;
    font-family: Arial;
}

body {
    margin: 0 auto;
}

/*img {
    object-fit: cover;
    object-position: center;
}*/

h1 {
    margin: 0;
}
p {
    margin: 0;
}