/* Authored Dependencies */
.learn-more-btn {
  box-sizing: border-box;
  border: 2px solid red;
  padding: 10px 20px;
  margin: 15px 0;
  text-align: center;
  display: inline-block; }

.divider {
  width: 90%;
  height: 1px;
  border-bottom: 2px solid lightgray; }

.center {
  margin: 0 auto;
  text-align: center; }

.vertical-padding {
  padding: 15px 0; }

.align-left, .copyright-block .copyright {
  text-align: left; }

.align-right, .social-links-block .social-links {
  text-align: right; }

.display-inline-block {
  display: inline-block; }

.clear-float {
  clear: both;
  float: none; }

.pull-left {
  float: left;
  display: inline-block; }

.pull-right {
  float: right;
  display: inline-block; }

.clear-margin {
  margin: 0; }

.clear-padding {
  padding: 0; }

/**
* Name: Grid.scss
*
* Purpose: Grid system
*
*/
.container {
  margin: 0 auto;
  width: 1000px;
  background-color: transparent; }

.container-fluid {
  width: 95%;
  margin: 0 auto; }

.row {
  display: block;
  box-sizing: border-box;
  overflow: hidden; }

.col-1, .social-links-block .social-links img {
  width: 8.33333%; }

.col-2 {
  width: 16.66667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33333%; }

.col-5 {
  width: 41.66667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33333%; }

.col-8 {
  width: 66.66667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33333%; }

.col-11 {
  width: 91.66667%; }

.col-12 {
  width: 100%; }

div[class*='col-'] {
  display: inline-block;
  float: left;
  vertical-align: top;
  text-align: center;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
  /*outline: 1px solid red;*/ }

@media screen and (max-width: 995px) {
  .container {
    width: 90%; }

  .block-title {
    font-size: 40px !important; } }
/* Sections */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9999;
  padding: 5px 0;
  color: white;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3), transparent);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3), transparent);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3), transparent);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3), transparent);
  /* Standard syntax */
  -webkit-transition: background-color 700ms linear;
  -moz-transition: background-color 700ms linear;
  -o-transition: background-color 700ms linear;
  -ms-transition: background-color 700ms linear;
  transition: background-color 700ms linear; }

header.scrolled {
  background: red; }

.logo {
  display: inline-block; }
  .logo h1 {
    margin: 0;
    font-family: "Arial Black", Gadget, sans-serif;
    letter-spacing: 1px; }

.navbar {
  display: inline-block;
  position: relative; }
  .navbar .navbar-item {
    display: inline-block; }
    .navbar .navbar-item a {
      display: inline-block;
      color: white;
      padding: 15px 5px; }

main {
  text-align: center; }

.Absolute-Center, .block-info {
  margin: auto;
  position: absolute;
  top: 45%;
  left: 0;
  right: 0; }

.red-bg {
  background: red; }

.slogan-block {
  height: 200px;
  line-height: 200px;
  color: white;
  text-align: center; }

.home-content-block {
  display: block;
  position: relative;
  height: 500px;
  padding: 50px 0;
  overflow: hidden; }

.block-title {
  margin-top: 50px;
  font-family: times, Times New Roman, times-roman, georgia, serif;
  font-size: 51px;
  letter-spacing: -2px;
  font-weight: bold; }

.block-info {
  text-align: center; }
  .block-info p {
    text-align: left; }

.dark-bg-img {
  color: white; }

.solid-color {
  color: #444;
  background: transparent; }

.welcome-img {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("http://placekitten.com/1000/400") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#home-bg-events {
  background: transparent; }

#home-bg-media {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("http://placekitten.com/1000/300") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#home-bg-contact {
  background: transparent; }

#home-bg-about {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("http://placekitten.com/1000/500") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.copyright-block .copyright {
  padding-top: 15px; }

/* Shame */
/**
* Name: Shame.scss (code I'm ashamed of)
*
* Purpose:
* A file dedicated to quick fixes and hackish code
* that I don't have time to fully think through
* at the current time.
*
*/
/* Global */
html {
  background-color: transparent;
  font-family: Arial; }

body {
  margin: 0 auto; }

/*img {
    object-fit: cover;
    object-position: center;
}*/
h1 {
  margin: 0; }

p {
  margin: 0; }

/*# sourceMappingURL=global.css.map */
