/**
* Name: Grid.scss
*
* Purpose: Grid system
*
*/

// Grid Spacing
.container {
    margin: 0 auto;
    width: 1000px;
    background-color: transparent;
}

.container-fluid {
    width: 95%;
    margin: 0 auto;
}

.row {
    display: block;
    box-sizing: border-box;
    overflow: hidden;
}

// Grid Variables
$grid-columns: 12;

// Grid Mixins
@mixin render-grid($i, $grid-columns) {
    width: $i / $grid-columns * 100%;
}

// Grid Columns & Column Styles
@for $i from 1 through $grid-columns {
    .col-#{$i} { @include render-grid($i, $grid-columns); }
}

div[class*='col-'] {
    display: inline-block;
    float: left;
    vertical-align: top;
    text-align: center;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
    /*outline: 1px solid red;*/
}