@mixin darken-bg-img($alpha, $img) {
    background: linear-gradient( rgba(0, 0, 0, $alpha), rgba(0, 0, 0, $alpha) ), url($img) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}