.divider {
    width: 90%;
    height: 1px;
    border-bottom: 2px solid lightgray; 
}

.center {
    margin: 0 auto;
    text-align: center;
}

.vertical-padding {
    padding: 15px 0;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.display-inline-block {
    display: inline-block;
}

.clear-float {
    clear: both;
    float: none;
}

.pull-left {
    float: left;
    display: inline-block;
}

.pull-right {
    float: right;
    display: inline-block;
}

.clear-margin {
    margin: 0;
}

.clear-padding {
    padding: 0;
}