footer {
    
}

.copyright-block {
    .copyright {
        @extend .align-left;
        padding-top: 15px;
    }
}

.social-links-block {
    .social-links {
        @extend .align-right;
        img {
            @extend .col-1;
        }
    }
}