main {
    text-align: center;
}

.Absolute-Center {
    margin: auto;
    position: absolute;
    top: 45%; left: 0; right: 0;
}

.red-bg {
    background: red;
}

.slogan-block {
    height: 200px;
    line-height: 200px;
    color: white;
    text-align: center;
}

.home-content-block {
    display: block;
    position: relative;
    height: 500px;
    padding: 50px 0;
    overflow: hidden;
}

.block-title {
    margin-top: 50px;
    font-family: times, Times New Roman, times-roman, georgia, serif;
	font-size: 51px;
	letter-spacing: -2px;
	font-weight: bold;
}

.block-info {
    @extend .Absolute-Center;
    text-align: center;
    p {
        text-align: left;
    }
}

.dark-bg-img {
    color: white;
}

.solid-color {
    color: #444;
    background: transparent;
}

.welcome-img {
    @include darken-bg-img(0.7, 'http://placekitten.com/1000/400');
}

#home-bg-events {
    background: transparent;
}

#home-bg-media {
    @include darken-bg-img(0.7, 'http://placekitten.com/1000/300');
}

#home-bg-contact {
    background: transparent;
}

#home-bg-about {
    @include darken-bg-img(0.7, 'http://placekitten.com/1000/500');
}