.navbar {
    display: inline-block;
    position: relative;
    .navbar-item {
        display: inline-block;
        a {
            display: inline-block;
            color: $color-1;
            padding: 15px 5px;
        }
    }
}

.navbar-links {
    
}